*{
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
    font-size: 14px;
    color: inherit;
}

header{
    position: relative;
}

/* 顶部导航条 */

.top{
    width: 1343px;
    height: 155px;
    background-image:url('../image/background1.avif')  ;
    background-position: -250px;
    margin: 0 auto;
}
.navtop{
    width: 1301px;
    height: 64px;
    padding: 0px 21px;
    position: relative;
    margin: 0 auto;
}
.navtop a{
    color: #fff;
}
#change-color{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%)
}
.navleft{
    height: 64px;
    width: 522px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navleft li{
    margin-right: 10px;
    height: 100%;
    line-height: 60px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
.navleft-image{
    height: 18px;
    width: 18px;
    vertical-align:middle;
}

.center-search{
    height: 40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 460px;
    top: 10px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
}

.serach-case{
    width: 40px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-search img{
    height: 20px;
    width: 20px;
}

.search-input{
    width: 250px;
    height: 28px;
    padding: 0px 10px;
    border: 0px;
    outline:none;
}

.search-input:focus{
    background-color: rgb(241, 231, 231)
}

.navright{
    height: 64px;
    display: flex;
    width: 460px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px 0px;
}

.navright img{
    width: 20px;
    height: 20px;
}

.navright li{
    margin:0px 5px;
    text-align: center;
}

.navright li a{
    display: block;
}

.Head-portrait-box img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: white 2px solid;
}

.tougao-button{
    width: 90px;
    height: 34px;
    background: #fb7299;
    border-radius: 10px 10px 10px 10px;
}

.tougao-button img{
    vertical-align:bottom;
    padding-top: 7px;
}

/* 视频分区信息 */

.middle-channel{
    width: 1180px;
    height: 100px;
    margin: 0px auto;
    margin-bottom: 0px;
    display: flex;
}
.left-channel{
    width: 168px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-channel li{
    margin: 0px 16px 0px 0px;
    text-align: center;
}
.left-circle1{
    width: 40px;
    height: 40px;
    background-color: #f07775;
    border-radius: 100%;
}
.left-circle2{
    width: 40px;
    height: 40px;
    background-color: #59ca73;
    border-radius: 100%;
}
.double-channel{
    width: 25px;
    height: 25px;
    padding-top: 7px;
}
.touxiang-channel{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.right-channel{
    width: 1012px;
    height: 100px;
    position:relative;
}
.left-grid-channel{
    width: 757px;
    height: 66px;
    display: grid;
    grid-template-columns: repeat(9,75px);
    grid-template-rows: repeat(2,26px);
    grid-gap: 10px; 
    margin: 17px 0px;
    align-items: center;
    justify-items: center;  
    justify-content: center; 
    align-content: center;
    background-color: white;
}
.items{
    width: 75px;
    height: 26px;
    font-size: 13px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(241, 231, 231);
    text-align: center;
    padding-top: 5px;
}

.right-grid-channel{
    width: 236px;
    height: 66px;
    display: grid;
    grid-template-columns: 69px 69px 91px;
    grid-template-rows: repeat(2,28px);
    grid-row-gap: 10px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top:15px;
    right:0px;
    border-left: 1px rgb(241, 231, 231) solid;
}

.right-grid-channel li{
    margin-left: 10px;
}

.right-grid-channel img{
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

/* 视频推送部分 */
.swiper{
    width: 580px;
    height: 407px;
    position: absolute;
    top: -735px;
    right: 300px;
}
.swiper img{
    width: 580px;
    height: 407px;
}

.video-details{
    width: 1180px;
    height: 736px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4,280px);
    grid-template-rows: repeat(3,232px);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;  
    justify-content: center; 
    align-content: center;
}

.video-details li{
    width: 280px;
    height: 229.5px;
}

.video-details img{
    width: 280px;
    height: 157.5px;
    padding-top: -5px;
}

.video-details .title{
    display: block;
    width: 280px;
    height: 44px;
    text-align: left;
    padding: 5px 16px 0px 0px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    font-size: 15px;
    color: #18191c;
}

.video-details .author{
    display: block;
    width: 280px;
    height: 16px;
    margin: 4px 0px 0px 0px;
    color: #9499a0;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}

/* 固定定位 */
.fix-frame{
    width: 40px;
    height: 206px;
    position: fixed;
    top: 73px;
    right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.fix-frame span{
    font-size: 12px;
    width: 24px;
    height: 14px;
    margin-top: 2px;
}
.fix-title1{
    width: 30px;
    height: 38px;
    padding: 0px 4px;
    margin-top: 6px;
}
.fix-title2{
    width: 38px;
    height: 40px;
    padding: 8px 0px;
    margin-top: 6px;
}
.fix-title2 img{
    width: 24px;
    height: 24px;
}
.fix-title3{
    width: 30px;
    height: 38px;
    padding: 0px 4px;
    margin-top: 6px;
}
.fix-title4{
    width: 38px;
    height: 28px;
    padding: 0px 0px 6px 0px;
    margin-top: 12px;
    display: none;
}
.fix-title4 img{
    width: 15px;
    height: 8px;
}
.fix-frame > a{
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgb(189, 185, 185);
    text-align: center
}

/* 直播推荐块 */
.Live-recommendation{
    margin: 0px auto;
    margin-top: -350px;
    width: 1010px;
    height: 408.5px;
    border-top: 1px solid grey;
}
.header-Live{
    width: 990px;
    height: 33px;
}
.header-Live span{
    font-size: 14px;
    color: #757a81;
}
#Live-classification{
    font-size: 24px;
    padding-right: 860px;
}
.check-more{
    width: 14px;
    height: 14px;
}
.Live-broadcast-block{
    width: 1010px;
    height: 395px;
    margin: 0 auto;
    margin-top: 16px;
}
.rooms{
    width: 188px;
    height: 152.75px;
    display: inline-block;
    margin: 0px 5px 5px 5px;
    position: relative;
}
.rooms div{
    font-size: 14px;
    color: black;
}
.Live-cover{
    width: 188px;
    height: 105.75px;
}
#radio-station-type{
    width: 188px;
    height: 30px;
    color: #fff;
    position: absolute;
    top: 80px;
    padding-left: 10px;
}
.radio-station-title{
    width: 188px;
    height: 22px;
}
.radio-station-details{
    width: 188px;
    height: 19px;
}
.radio-station-details img{
    width: 14px;
    height: 14px;
    float: right;
}
.radio-station-number{
    float: right;
}

/* 底部 */
.footer{
    width: 1343px;
    height: 317px;
    border-top: 1px solid grey;
    margin: 0px auto;
    position: relative;
}
.footer-information{
    width: 1160px;
    height: 300px;
    margin: 0 auto;
    padding-top: 32px;
    font-size: 0;
}
.footer-left{
    width: 920px;
    height: 225px;
    display: inline-block;
}
.footer-left-top{
    width: 920px;
    height: 110px;
    margin-bottom: 37px;
    position: relative;
}
.footer-detail-left{
    width: 434px;
    height: 110px;
    position: relative;
    display: inline-block;
}
.bilibili-footer-logo{
    width: 434px;
    height: 50px;
}
.footer-detail-left img{
    width: 100px;
    height: 50px;
    position: absolute;
    left: -15px;
}
.footer-detail-left a{
    width: 120px;
    height: 30px;
    color: black;
    font-size: 14px;
    display: inline-block;
}
.footer-right-frame{
    width: 1px;
    height: 70px;
    background-color: grey;
    position: absolute;
    right: 0px;
    top: 40px;
}

.footer-detail-right{
    width: 244px;
    height: 60px;
    margin-top: 50px;
    margin-left: 74px;
    display: inline-block;
}
.footer-detail-right a{
    width: 120px;
    height: 30px;
    color: black;
    font-size: 14px;
    display: inline-block;
}
.footer-left-bottom{
    width: 920px;
    height: 77px;
}
.footer-left-bottom-img{
    width: 100px;
    height: 77px;
    display: inline-block;
}
.footer-left-bottom-img img{
    border-radius: 5px 5px ;
}
.footer-left-bottom-detail{
    width: 650px;
    height: 72px;
    margin-top: 6px;
    margin-left: 28px;
    display: inline-block;
    color: #757a81;
}
.footer-left-bottom-detail ul {
    padding-right: 10px;
    font-size: 12px;
    display: inline-block;
}
.footer-left-bottom-detail a{
    font-size: 12px;
}
.footer-right{
    width: 220px;
    height: 225px;
    display: inline-block;
}
.footer-right li{
    width: 90px;
    height: 113px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}
.footer-right-img{
    width: 58px;
    height: 58px;
    border: 1px solid #dedede;
    border-radius: 50%;
    margin: 0px 15px;
}
.footer-right-img img{
    width: 20px;
    height: 20px;
    padding-top: 19px;
}
.footer-right-title{
    width: 90px;
    height: 16px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

/* 动画部分 */
@keyframes change{
    0%{
        top:0px;
    }
    25%{
        top:-2px;
    }
    50%{
        top: -4px;
    }
    75%{
        top:-2px;
    }
    100%{
        top: 0px;
    }
}

.jump-world:hover{
    position: relative;
    animation: change 0.3s linear;
    animation-iteration-count:1;
}

.jump-world1:hover img{
    position: relative;
    animation: change 0.3s linear;
    animation-iteration-count:1;
}

.fix-frame a:hover,.items:hover,.Personal-Center:hover,.Exit-Login:hover,.Personal-Center1:hover,.Exit-Login1:hover{
    background-color: rgb(233, 224, 224);
}


/* 可视窗口到达一定位置时的顶部导航条 */
.father-second-navtop {
    width: 1343px;
    height: 64px;
    margin: auto;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.second-navtop {
    width: 1301px;
    height: 64px;
    position: relative;
    margin: 0 auto;
}

.second-navtop a {
    color: black;
}

.second-navleft {
    height: 64px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-navleft li:not(:first-of-type) {
    margin-right: 8px;
    height: 100%;
    padding-top: 10px;
    line-height: 64px;
    align-items: center;
    justify-content: center;
}

.second-navleft-image {
    width: 60px;
    height: 27px;
    vertical-align: middle;
}

.second-navleft-image1 {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.second-center-search {
    height: 40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 430px;
    top: 10px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
}

.second-serach-case {
    width: 40px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-center-search img {
    height: 20px;
    width: 20px;
}

.second-search-input {
    width: 250px;
    height: 28px;
    padding: 0px 10px;
    border: 0px;
    outline: none;
}

.second-search-input:focus {
    background-color: rgb(241, 231, 231)
}

.second-navright {
    height: 64px;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: -42px;
}

.second-navright img {
    width: 20px;
    height: 20px;
}

.second-navright li {
    margin: 0px 5px;
    text-align: center;
}

.second-navright li a{
    display: block;
}

.second-Head-portrait-box img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: white 2px solid;
}

.second-tougao-button {
    width: 90px;
    height: 34px;
    background: #fb7299;
    border-radius: 10px 10px 10px 10px;
}

.second-tougao-button img {
    vertical-align: bottom;
    padding-top: 7px;
}

/* 下载客户端弹出 */
.hide-download-client{
    width: 388px;
    height: 218px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 69px;
    left: 300px;
    z-index: 2;
    background-color: #fff;
}
.hide-download-client-content{
    width: 388px;
    height: 200px;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hide-download-client-content-top{
    width: 388px;
    height: 163px;
    display: flex;
    flex-direction: row;
}
.hide-download-client-content-bottom span{
    color: grey;
}
.double-content{
    width: 194px;
    height: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.double-content-img-1{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.double-content-img-2{
    width: 87px;
    height: 87px;
}
.double-content-img-3{
    width: 52px;
    height: 52px;
}
.double-content-img-4{
    width: 10px;
    height: 10px;
}
.double-content-top-img{
    width: 192px;
    height: 95px;
}
.double-content span{
    margin-bottom: 12px;
}
.double-content:first-child{
    border-right: 1px solid rgb(236, 226, 226);
}
.Download-Now{
    width: 91px;
    height: 32px;
    background-color: skyblue;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

/* 第二顶部导航条下载客户端弹出 */
.hide-download-client1{
    width: 388px;
    height: 218px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 69px;
    left: 25%;
    z-index: 2;
    background-color: #fff;
}
.hide-download-client-content1{
    width: 388px;
    height: 200px;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hide-download-client-content-top1{
    width: 388px;
    height: 163px;
    display: flex;
    flex-direction: row;
}
.hide-download-client-content-bottom1 span{
    color: grey;
}
.double-content1{
    width: 194px;
    height: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.double-content-img-10{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.double-content-img-20{
    width: 87px;
    height: 87px;
}
.double-content-img-30{
    width: 52px;
    height: 52px;
}
.double-content-img-40{
    width: 10px;
    height: 10px;
}
.double-content-top-img1{
    width: 192px;
    height: 95px;
}
.double-content1 span{
    margin-bottom: 12px;
}
.double-content1:first-child{
    border-right: 1px solid rgb(236, 226, 226);
}
.Download-Now1{
    width: 91px;
    height: 32px;
    background-color: skyblue;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

/* 头像信息弹出 */
.test{
    width: 304px;
    height: 384px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    visibility:hidden;
    top: 75px;
    right: 275px;
    z-index: 1;
}
.nickname-item{
    width: 252px;
    height: 22px;
    line-height: 22px;
}
.level-item{
    height: 55px;
    width: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.nickname-item{
    width: 252px;
    height: 22px;
    font-size: 18px;
}
.nickname-item-coin{
    width: 252px;
    height: 15px;
    font-size: 12px;
}
.nickname-item-coin span{
    margin-right: 5px;
}
.total-speed-of-progress{
    width: 250px;
    height: 16px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.total-speed-of-progress img{
    width: 22px;
    height: 11px;
}
.speed-of-progress{
    height: 2px;
    width: 170px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 5px;
}
.speed-of-progress .speed-of-progress-percent{
    height: 100%;
    width: 90%;
    border-radius: 5px;
    background: orange;
}
.upgrade-explain{
    color: grey;
    font-size: 12px;
}
.follow-items{
    width: 252px;
    height: 37px;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.Personal-Center{
    width: 252px;
    height: 38px;
    color: #18191C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.Personal-Center img{
    vertical-align: middle;
}
.Personal-Center-left-icon{
    width: 18px;
    height: 18px;
}
.Personal-Center-right-icon{
    width: 10px;
    height: 10px;
}
.split-line{
    width: 252px;
    height: 1px;
    background: #e3e5e7;
    margin: 10px 0px;
}
.Exit-Login{
    width: 252px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.Exit-Login img{
    width: 18px;
    height: 18px;
    margin-right: 16px;
    vertical-align: middle;
}
.test a{
    color: black;
}

/* 第二头像信息弹出 */
.test1{
    width: 304px;
    height: 384px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    visibility:hidden;
    top: 75px;
    right: 275px;
    z-index: 1;
}
.nickname-item1{
    width: 252px;
    height: 22px;
    line-height: 22px;
}
.level-item1{
    height: 55px;
    width: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.nickname-item1{
    width: 252px;
    height: 22px;
    font-size: 18px;
}
.nickname-item-coin1{
    width: 252px;
    height: 15px;
    font-size: 12px;
}
.nickname-item-coin1 span{
    margin-right: 5px;
}
.total-speed-of-progress1{
    width: 250px;
    height: 16px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.total-speed-of-progress1 img{
    width: 22px;
    height: 11px;
}
.speed-of-progress1{
    height: 2px;
    width: 170px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 5px;
}
.speed-of-progress1 .speed-of-progress-percent1{
    height: 100%;
    width: 90%;
    border-radius: 5px;
    background: orange;
}
.upgrade-explain1{
    color: grey;
    font-size: 12px;
}
.follow-items1{
    width: 252px;
    height: 37px;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.Personal-Center1{
    width: 252px;
    height: 38px;
    color: #18191C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.Personal-Center1 img{
    vertical-align: middle;
}
.Personal-Center-left-icon1{
    width: 18px;
    height: 18px;
}
.Personal-Center-right-icon1{
    width: 10px;
    height: 10px;
}
.split-line1{
    width: 252px;
    height: 1px;
    background: #e3e5e7;
    margin: 10px 0px;
}
.Exit-Login1{
    width: 252px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.Exit-Login1 img{
    width: 18px;
    height: 18px;
    margin-right: 16px;
    vertical-align: middle;
}
.test1 a{
    color: black;
}


/* 头像大图 */
.Pop-up-avatar{
    width: 122px;
    height: 122px;
    margin: 200px 0px 0px 1100px;
    visibility: hidden;
    position: absolute;
    top: -175px;
    right: 350px;
    z-index: 2;
}
.Large-head-portrait{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
}
.Large-head-portrait-img1{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.Large-head-portrait-img2{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
}

/* 第二头像大图*/
.Pop-up-avatar1{
    width: 122px;
    height: 122px;
    margin: 200px 0px 0px 1100px;
    visibility: hidden;
    position: absolute;
    top: -180px;
    right: 350px;
    z-index: 2;
}
.Large-head-portrait1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
}
.Large-head-portrait-img10{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.Large-head-portrait-img20{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
}

/* 鼠标移入样式变化 */
.right-grid-channel span:hover,.video-details span:hover,.footer-change-font-color:hover,.hide-download-client-content-bottom:hover,.follow-items a:hover,.follow-items1 a:hover{
    color: skyblue;
}